<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/bootstrap.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <script async src="/assets/bootstrap.js"></script>
  </head>
  <body>
    {% include "./nav.njk" %}
    <div class="container my-2">{{ content | safe }}</div>
  </body>
</html>
