<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/bootstrap.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <script async src="/assets/bootstrap.js"></script>
  </head>
  <body>
    {% include "./nav.njk" %}
    <div class="container my-4">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">{{ content | safe }}</div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </body>
</html>
