:root {
  --brown-1: #271b0c;
  --brown-2: #382710;
  --brown-3: #483314;
  --brown-4: #593f17;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --brown-4: #271b0c;
    --brown-3: #382710;
    --brown-2: #483314;
    --brown-1: #593f17;
  }
}

.bg-brown1 {
  --bs-bg-opacity: 1;
  --bs-table-bg: var(--brown-1);
  background: var(--brown-1);
}
.bg-brown2 {
  --bs-bg-opacity: 1;
  --bs-table-bg: var(--brown-2);
  background: var(--brown-2);
}
.bg-brown3 {
  --bs-bg-opacity: 1;
  --bs-table-bg: var(--brown-3);
  background: var(--brown-3);
}
.bg-brown4 {
  --bs-bg-opacity: 1;
  --bs-table-bg: var(--brown-4);
  background: var(--brown-4);
}

@media (min-width: 768px) {
  .lg-shadow-brown {
    box-shadow: 0 0.35rem 1rem 0.4rem #593f1755 !important;
  }
}

@media (prefers-color-scheme: dark) and (min-width: 768px) {
  .lg-shadow-brown {
    box-shadow: 0 0.35rem 1rem 0.4rem #271b0c55 !important;
  }
}

blockquote {
  margin: 1em;
}
