:root {
  --brown-1: #271b0c;
  --brown-2: #382710;
  --brown-3: #483314;
  --brown-4: #593f17;
  --brown-brand: #59260b;
  --shadow-brown: 0 0.35rem 1rem 0.4rem #593f1755;
  color-scheme: light;
  --bs-body-font-family: Quicksand, sans-serif;
  --bs-body-font-weight: 500;
}

[data-theme="dark"] {
  color-scheme: dark;
  --brown-4: #271b0c;
  --brown-3: #382710;
  --brown-2: #483314;
  --brown-1: #593f17;
  --brown-brand: #80360f;
  --shadow-brown: 0 0.35rem 1rem 0.4rem #271b0c55;
}

/* workarounds */
.dropdown-item {
  font-weight: var(--bs-body-font-weight);
}

.table {
  --bs-table-border-color: var(--bs-border-color);
}

.btn {
  --bs-btn-font-weight: var(--bs-body-font-weight);
  --bs-btn-active-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
}
[data-theme="dark"] .btn-close {
  filter: invert();
}

/* prettier-ignore */
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-weight: 600;
}
/* end workarounds */

.fw-normal {
  font-weight: var(--bs-body-font-weight) !important;
}

.bg-brown1 {
  --bs-bg-opacity: 1;
  --bs-table-bg: var(--brown-1);
  background: var(--brown-1);
}
.bg-brown2 {
  --bs-bg-opacity: 1;
  --bs-table-bg: var(--brown-2);
  background: var(--brown-2);
}
.bg-brown3 {
  --bs-bg-opacity: 1;
  --bs-table-bg: var(--brown-3);
  background: var(--brown-3);
}
.bg-brown4 {
  --bs-bg-opacity: 1;
  --bs-table-bg: var(--brown-4);
  background: var(--brown-4);
}

@media (min-width: 576px) {
  .sm-shadow-brown {
    box-shadow: var(--shadow-brown) !important;
  }
}
@media (min-width: 768px) {
  .lg-shadow-brown {
    box-shadow: var(--shadow-brown) !important;
  }
}

blockquote {
  margin-block: 1em;
  padding-left: 0.5em;
  border-left: 2px solid var(--bs-gray-600);
  position: relative;
  margin-left: calc(-0.5em - 2px);
}

blockquote:not(.blurb):not(._69-note) {
  margin-left: 0.5em;
}

blockquote::before,
blockquote::after {
  content: "";
  position: absolute;
  left: -2px;
  width: 5px;
  height: 5px;
  border: 0 solid var(--bs-gray-600);
  border-left-width: 2px;
}
blockquote::before {
  top: -5px;
  border-top-width: 2px;
}
blockquote::after {
  bottom: -5px;
  border-bottom-width: 2px;
}

blockquote:not(.blurb):not(._69-note)::before,
blockquote:not(.blurb):not(._69-note)::after {
  display: none;
}

.icon {
  fill: currentColor;
}

main {
  position: relative;
}

.modal.zoom:not(.show) .modal-dialog {
  transform: scale(0.8);
}

.index-list {
  columns: 240px;
}
.index-list > div {
  break-inside: avoid-column;
  padding-bottom: 1rem;
}
.index-list dd {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-bottom: 0;
}
