body {
  font-size: 11pt;
  line-height: 1.25;
  font-family: Meta Serif Pro;
  --bs-body-font-weight: normal;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
.book-toc,
.pagedjs_margin-content {
  font-family: Fira Sans;
}

/* Page / margin styles */
@page {
  margin: 1in;
  widows: 3;
  size: 8.5in 11in;
  /* size: 6.5in 8.5in; */
}

@page script:left {
  @top-left {
    content: counter(page);
    vertical-align: bottom;
    margin-bottom: 1em;
  }
  @bottom-left {
    content: string(semester);
    width: 150px;
    vertical-align: top;
    margin-top: 1em;
  }
}
@page script:right {
  @top-right {
    content: counter(page);
    vertical-align: bottom;
    margin-bottom: 1em;
  }
  @bottom-right {
    content: string(semester);
    width: 150px;
    vertical-align: top;
    margin-top: 1em;
  }
}

@page semester-title {
  @bottom-center {
    content: element(url);
  }
}

.semester-url {
  position: running(url);
}

@bottom-center {
  content: attr(data-url);
}

/* Table of Contents */
nav {
  break-before: always;
}
.book-toc a {
  color: inherit;
  text-decoration: none;
  background: white;
}

.snap-width {
  box-sizing: border-box;
  display: inline-block;
}
.book-toc > ol > li {
  page-break-inside: avoid;
}
.book-toc li li a::before {
  content: target-counter(attr(href url), page, decimal-leading-zero);
  float: right;
  background: white;
  padding-left: 0.5ch;
  /* width: 2.75ch; */
  text-align: right;
  font-variant-numeric: tabular-nums;
}
.book-toc li {
  list-style: none inside;
  position: relative;
  overflow: hidden;
}
.book-toc ol ol {
  margin-bottom: 0.1in;
  padding-left: 0.25in;
}
.book-toc li li a::after {
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
  white-space: nowrap;
  position: absolute;
  width: 100%;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

/* Section Headers */
header {
  text-align: center;
}

.title {
  /* border: 0 solid black; */
  border-radius: 1em;
  display: inline-block;
  text-align: center;
  padding: 0.35in 0.5in;
  margin-top: 2.5in;
  font-weight: normal;
  font-size: 3em;
  line-height: 1.75;
}

/* Semester Chapters */
section:first-of-type {
  counter-reset: page 1;
}

section > header {
  page: semester-title;
  break-before: right;
}

section > header h1 {
  string-set: semester content(text);
}

/* Script articles */
article {
  page: script;
  break-before: always;
}

h2 {
  text-align: center;
}

article header {
  margin-bottom: 1.5em;
}

article h3 {
  font-weight: normal;
  font-size: 1.5em;
}

article h2 {
  page-break-after: avoid;
}

article h2:not(:first-of-type) {
  text-align: center;
  margin-top: 1.25em;
}

.school-color {
  color: inherit !important; /* black & white printing, so keep the names legible */
}

p {
  margin-bottom: 0.8em;
}

a:not([href^="#"]) {
  color: inherit;
  text-decoration: none;
}
/* a:not([href^="#"])::after {
  content: " (" attr(href) ")";
} */

._69-page-break {
  page-break-before: always;
}

p {
  page-break-inside: avoid;
}
