.carousel {
  --height: 450px;
  position: relative;
  margin-inline: calc(var(--bs-gutter-x) * -0.5);
}

.carousel img {
  height: var(--height);
  width: 100%;
  object-fit: cover;
}

[data-bs-theme=dark] .carousel .carousel-control-prev-icon, [data-bs-theme=dark] .carousel .carousel-control-next-icon {
  color: white;
  filter: invert(0);
}