.header-quote {
  font-size: 0.8rem;
  display: inline-block;
  white-space: normal;
  word-break: break-word;
  width: calc(100vw - 158px);
  min-height: 38px;
}

@media (max-width: 768px) {
  .navbar-nav {
    width: 100%;
    margin-inline: calc(-1 * var(--bs-gutter-x, 0.75rem));
    margin-bottom: -0.5rem;
    padding-inline: var(--bs-gutter-x, 0.75rem);
    padding-block: 0.5rem;
    box-sizing: content-box;
  }
  .navbar .dropdown-toggle:not(.show)::after {
    transform: translateY(2px) rotate(-90deg);
  }
}
@media (min-width: 576px) {
  .header-quote {
    width: 382px;
  }
}
@media (min-width: 768px) {
  .header-quote {
    width: 180px;
  }
  .navbar-nav {
    background: transparent;
  }
}
@media (min-width: 992px) {
  .header-quote {
    width: 300px;
  }
}

.dropdown-header {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.footer-icon {
  fill: currentColor;
}
