.header-quote {
  font-size: 0.8rem;
  display: inline-block;
  white-space: normal;
  word-break: break-word;
  width: calc(100vw - 50px - 3 * 0.75rem);
  min-height: 38px;
  max-width: 300px;
}

@media (max-width: 576px) {
  .navbar-nav {
    width: 100vw;
    margin-inline: calc(-1 * var(--bs-gutter-x, 0.75rem));
    margin-bottom: -0.5rem;
    padding-block: 0.5rem;
    box-sizing: content-box;
  }
  .navbar-nav .nav-link {
    width: 100%;
    text-align: left;
    padding-inline: var(--bs-gutter-x, 0.75rem);
  }
  .dropdown-menu-brown {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5) inset;
  }
  .dropdown-menu-brown .dropdown-item.active,
  .dropdown-menu-brown .dropdown-item:active {
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.45) inset;
  }
  .dropdown-menu-brown .dropdown-item:hover:not(.active):not(:active) {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.45);
  }
}
@media (min-width: 576px) {
  .navbar-nav {
    background: transparent;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
}

@media (min-width: 768px) {
  .header-quote {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .header-quote {
    width: 300px;
  }
}

.navbar .dropdown-toggle::after {
  transform: translateY(2px);
}

.dropdown-header {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

:first-child > .dropdown-item {
  padding-top: 0.65em;
}
:last-child > .dropdown-item {
  padding-bottom: 0.65em;
}
