.dropdown-menu-brown {
  background: var(--brown-4);
  padding-block: 0;
  overflow: hidden;
  border: none;
}
.dropdown-menu-brown .dropdown-item.active {
  background-color: var(--brown-1);
}
.dropdown-menu-brown .dropdown-item {
  padding-block: 0.5rem;
  outline-offset: -1px;
}

.dropdown-menu-brown .dropdown-item:not(.active):not(:active) {
  opacity: 0.7;
}

.dropdown-menu-brown .dropdown-item:hover,
.dropdown-menu-brown .dropdown-item:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}

@media (min-width: 768px) {
  [data-theme="dark"] .dropdown-menu-brown {
    background: var(--brown-3);
  }
}
