._69-direction::before {
  content: "[";
  padding-right: 0.1em;
}
._69-direction::after {
  content: "]";
  padding-left: 0.1em;
}
._69-direction::before,
._69-direction::after {
  font-size: 1.15em;
  font-weight: 300;
  font-style: normal;
  line-height: 0;
  font-family: var(--bs-font-sans-serif);
}

._69-direction {
  font-style: italic;
}

._69-tab {
  display: inline-block;
  width: 1em;
}

._69-break {
  word-break: break-word;
}
._69-break-hyphenate {
  -webkit-hyphens: auto;
  hyphens: auto;
}

._69-svg {
  max-width: 300px;
  margin: auto;
  margin-bottom: 1em;
}

._69-svg path {
  fill: currentColor;
}

.script-censored {
  margin-bottom: 0;
}
.script-censored span {
  background: var(--bs-body-color);
  color: var(--bs-body-bg);
  padding: 0.2em 0.4em;
  display: inline-block;
  font-size: 0.75em;
  border-radius: 0.4em;
  transform: rotate(-3deg);
}

.semester-button {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
@media (min-width: 500px) {
  .semester-button {
    width: 90px;
    height: 90px;
    float: right;
    margin-bottom: -8px;
  }
}
@media (min-width: 1000px) {
  .semester-button {
    float: none;
    position: absolute;
    left: -90px;
  }
}
@media (min-width: 1100px) {
  .semester-button {
    width: 110px;
    height: 110px;
    left: -110px;
  }
}

article h2 {
  font-size: 1.65rem;
}
article h3 {
  font-variant-numeric: oldstyle-nums tabular-nums;
}
