._69-direction::before {
  content: "[";
}
._69-direction::after {
  content: "]";
}
._69-direction::before,
._69-direction::after {
  font-size: 1.15em;
  font-weight: 300;
  font-style: normal;
  line-height: 0;
}
._69-direction {
  font-style: italic;
}

._69-list {
  list-style-type: none;
  text-indent: -1.25em;
}

._69-tab {
  display: inline-block;
  width: 1em;
}

article h2 {
  font-size: 1.65rem;
}
