._69-direction::before {
  content: "[";
}
._69-direction::after {
  content: "]";
}
._69-direction::before,
._69-direction::after {
  font-size: 1.15em;
  font-weight: 300;
  font-style: normal;
  line-height: 0;
}
._69-direction {
  font-style: italic;
}

._69-list {
  list-style-type: none;
  text-indent: -1.25em;
}

._69-tab {
  display: inline-block;
  width: 1em;
}

.semester-button {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
@media (min-width: 500px) {
  .semester-button {
    width: 90px;
    height: 90px;
    float: right;
    margin-bottom: -8px;
  }
}
@media (min-width: 1000px) {
  .semester-button {
    float: none;
    position: absolute;
    left: -90px;
  }
}
@media (min-width: 1100px) {
  .semester-button {
    width: 110px;
    height: 110px;
    left: -110px;
  }
}

article h2 {
  font-size: 1.65rem;
}
