:root {
  --toc-offset: 2.75rem;
  --toc-width: 300px;
}

main {
  position: relative;
}
.toc nav > ul {
  padding-left: 1rem;
  margin-top: 0.5rem;
}
.toc ul {
  list-style: none;
  padding-left: 0;
}
.toc li {
  margin-left: 1em;
  text-indent: -2rem;
}
.toc a:not(:hover) {
  text-decoration: none;
}

@media (min-width: 992px) {
  .toc {
    float: right;
    position: sticky;
    top: 0;
    width: 0;
    height: 100vh;
    pointer-events: none;
    margin-top: calc(-1 * var(--toc-offset));
    margin-bottom: calc(-6.75rem + var(--toc-offset));
  }
  .toc h2 {
    position: relative;
    padding-top: 0.15rem;
    margin-bottom: -0.55rem;
    margin-left: -0.25rem;
    z-index: 1;
  }
  .toc h2::before {
    content: "";
    position: absolute;
    top: 0.65em;
    background-color: rgb(var(--bs-secondary-rgb));
    width: 100%;
    height: 1px;
  }
  .toc > div {
    position: sticky;
    width: var(--toc-width);
    top: 0;
    max-height: 100vh;
    pointer-events: all;
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .toc nav {
    overflow-y: auto;
  }
  .toc a {
    color: inherit;
  }
  .toc {
    opacity: 0.95;
  }
  .toc li li {
    opacity: 0.85;
  }
}

@media (min-width: 1200px) {
  .toc {
    --toc-width: 350px;
  }
}
