:root {
  --brown-1: #271b0c;
  --brown-2: #382710;
  --brown-3: #483314;
  --brown-4: #593f17;
}

.bg-brown {
  --bs-bg-opacity: 1;
  background: var(--brown-1);
}
.bg-brown2 {
  --bs-bg-opacity: 1;
  background: var(--brown-2);
}
.bg-brown3 {
  --bs-bg-opacity: 1;
  background: var(--brown-3);
}
.bg-brown4 {
  --bs-bg-opacity: 1;
  background: var(--brown-4);
}
@media (min-width: 992px) {
  .lg-shadow-brown {
    box-shadow: 0 0.35rem 1rem 0.4rem #593f1755 !important;
  }
}

.dropdown-header {
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--brown-2) !important;
}
