body,
textarea,
input,
select {
  background: 0;
  border-radius: 0;
  font: 16px sans-serif;
  margin: 0;
}

.smooth {
  transition: all 0.2s;
}

nav a {
  text-decoration: none;
}

.container {
  margin: 0 20px;
  width: auto;
}
@media (min-width: 1310px) {
  .container {
    margin: auto;
    width: 1270px;
  }
}

nav {
  background: #271b0c;
}

nav,
nav .current,
nav a:hover {
  color: #fff;
}
nav {
  height: 24px;
  padding: 11px 0 15px;
}
nav a {
  color: #aaa;
  padding-right: 1em;
  position: relative;
  top: -1px;
}
nav .pagename {
  font-size: 22px;
  top: 1px;
}

.btn.btn-close {
  background: #000;
  float: right;
  font-size: 25px;
  margin: -54px 7px;
  display: none;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

@media (max-width: 500px) {
  .btn.btn-close {
    display: block;
  }
  nav {
    overflow: hidden;
  }
  .pagename {
    margin-top: -11px;
  }
  nav:active,
  nav:focus {
    height: auto;
  }
  nav ul {
    flex-direction: column;
    align-items: stretch;
  }
  nav ul:before {
    background: #000;
    border-bottom: 10px double;
    border-top: 3px solid;
    content: "";
    float: right;
    height: 4px;
    position: relative;
    right: 3px;
    top: 14px;
    width: 20px;
  }
  nav a {
    padding: 0.5em 0;
    width: 50%;
  }
}

nav {
  height: 78px;
}

nav .pagename {
  display: flex;
  align-items: center;
}
