<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light dark" />

    <title>{{ title | page_title }}</title>

    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    {% for file in ['base'].concat(css | default([])) -%}
    <link rel="stylesheet" href="/assets/css/{{file}}.css" />
    {%- endfor %}

    <script async src="/assets/bootstrap.min.js"></script>
  </head>
  <body {{body_attrs|default("")}}>
    {{content | safe}}
  </body>
</html>
