<!DOCTYPE html>
<html>
  <head>
    <title>{{ title | page_title }}</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <script async src="/assets/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    {% include "nav.njk" %}
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-3"></div>
        <main class="col-lg-6">{{content | safe}}</main>
        <div class="col-lg-3"></div>
      </div>
      {% include "footer.njk" %}
    </div>
  </body>
</html>
