---
layout: web.njk
---

<article>

{% if toc %}{% include "toc-button.njk" %}{% endif %}

{% if title and show_header != false %}
<h1>{{title}}</h1>
{% endif %}

{% if toc %}
{% if toc == true %}{% set toc = content | auto_toc %}{% endif %}
{% include "toc.njk" %}
{% endif %}

{% if summary %}
<blockquote>
  <p><em>{{summary | safe}}</em></p>
</blockquote>
{% endif %}

{{content | safe}}
</article>
