---
layout: web.njk
---

<!-- prettier-ignore -->
<article>
{% if title and show_header != false %}
<h1>{{title}}</h1>
{% endif %}

{% if summary %}
<blockquote>
  <p><em>{{summary | safe}}</em></p>
</blockquote>
{% endif %}

{{content | safe}}
</article>
