---
layout: web.hbs
---

{{#*inline "heading"}}
  {{#if (and title (not (equal? show_header false)))}}
    <h1>{{title}}</h1>
  {{/if}}
{{/inline}}

<article>
  {{#with (auto-toc toc content) as |toc|}}
    {{#if toc}}{{> toc-button}}{{/if}}

    {{> heading ..}}

    {{#if toc}}{{> toc toc}}{{/if}}
  {{else}}
    {{> heading}}
  {{/with}}

  {{#if summary}}
    <blockquote>
      <p><em>{{{summary}}}</em></p>
    </blockquote>
  {{/if}}

  {{{content}}}
</article>
