---
layout: base
---

{% macro score(score) %}{% if score != null %} ({{score}}){% endif %}{% endmacro %}

<article>
  <header>
    {% if teams.home %}
      <h1>
        {{teams.away.name}}{{score(teams.away.score)}}
        at {{teams.home.name}}{{score(teams.home.score)}}
      </h1>
    {% elif opponent %}
      <# when we don't know home/away or scores #>
      <h1>Brown <em>vs</em> {{opponent}}</h1>
    {% else %}
      <h1>{{title}}</h1>
    {% endif %}
    <h2>{{date | script_date }}</h2>
    <h3>{{script.writers | listify}}
  </header>
  {{content | safe}}
</article>
