---
layout: base
---

{% macro score(score) %}{% if score %} ({{score}}){% endif %}{% endmacro %}

<article>
  <header>
    {% if script.teams.home %}
      <h1>
        {{script.teams.away.name}}{{score(script.teams.away.score)}}
        at {{script.teams.home.name}}{{score(script.teams.home.score)}}
      </h1>
    {% elif script.type == "adoch" %}
      <h1>A Day on College Hill {{date.getFullYear()}}</h1>
    {% elif script.type == "other" %}
      <h1>{{title}}</h1>
    {% else %}
      <# when we don't know home/away or scores #>
      <h1>Brown <em>vs</em> {{script.opponent}}</h1>
    {% endif %}
    <h2>{{date | script_date }}</h2>
    <h3>{{script.writers | listify}}
  </header>
  {{content | safe}}
</article>
