---
layout: base.njk
body_attrs: 'class="d-flex flex-column h-100"'
---

{% include "nav.njk" %}
<div class="container mt-4 mb-5 flex-shrink-0">
  <div class="row">
    <div class="col-lg-2"></div>
    <main class="col-lg-6">{{content | safe}}</main>
    <div class="col-lg-4"></div>
  </div>
</div>
{% include "footer.html" %}
