---
summary: |
  It just wouldn't be complete if we cheered on the Bears without paying our
  due respects to the opposition. Hence, we have the infamous buttons, a
  different set for each football game (plus a special one for homecoming)
  churned out every year. The Band proudly wears them, and we pass them out
  for free to anyone at the football game who wants one!
---

{% set toplink = '<a href="#" style="float: right" class="h5 my-0 mt-2">top ↑</a
>' | safe %}

<h2 style="font-size: 1.5em; font-weight: bold">Table of Contents</h2>

<nav>
  <ul>
    <li><a href="#current">Current Season</a></li>
    <!-- prettier-ignore -->
    <li>
      <strong>Ivies:</strong>
      {% for school in buttons.bySchool.ivy -%}
        <a href="#{{school.id}}">{{school.name}}</a>{{" • " if not loop.last}}
      {%- endfor -%}
    </li>
    <!-- prettier-ignore -->
    <li>
      <strong>Recent:</strong>
      {% for school in buttons.bySchool.recent -%}
        <a href="#{{school.id}}">{{school.name}}</a>{{" • " if not loop.last}}
      {%- endfor -%}
    </li>
    <li>
      <a href="#other">Other Schools</a>
    </li>
    <li>
      <a href="#special">Special Buttons</a>
    </li>
    <li>
      <a href="#unknown">Secret Mystery Buttons</a>
    </li>
  </ul>
</nav>

<h2 id="current">{{buttons.currentYear}} Season</h2>

<p>
  <em>
    The current season's buttons are displayed below. They are only released the
    Tuesday before the football game! Don't forget to get your hands on one
    before they are all gone.
  </em>
</p>
<table class="table table-sm">
  <thead>
    <tr>
      <th class="pe-3" style="text-align: right">School</th>
      <th>Button</th>
    </tr>
  </thead>
  <tbody>
    {% for button in buttons.currentYearButtons %}
    <tr>
      <td class="align-middle pe-3" style="text-align: right">
        <a
          href="#{{button.schoolId}}"
          style="font-size: 1.25em; font-weight: bold; color: {{buttons.schools[button.schoolId].color}}"
        >
          {{button.school}}
        </a>
      </td>
      <td>
        <a href="{{button.image}}">
          <img
            alt="{{button.label}}"
            title="{{button.label}}"
            src="{{button.image}}"
            width="100"
            height="100"
          />
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Ivy League: Past Seasons {{toplink}}</h2>
<!-- prettier-ignore -->
{% for school in buttons.bySchool.ivy %}
  {% include "button-table.njk" %}
{% endfor %}

<h2>Recent Seasons: Other Schools {{toplink}}</h2>
<!-- prettier-ignore -->
{% for school in buttons.bySchool.recent %}
  {% include "button-table.njk" %}
{% endfor %}

<h2 id="other">Past Seasons: Other Schools {{toplink}}</h2>
<!-- prettier-ignore -->
{% for school in buttons.bySchool.other %}
  {% include "button-table.njk" %}
{% endfor %}

<h2 id="special">Special Buttons {{toplink}}</h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Year</th>
      <th>School</th>
      <th>Button</th>
    </tr>
  </thead>
  <tbody>
    {% for button in specialButtons %}
    <tr>
      <td>{{button.year}}</td>
      <td>{{button.school}}</td>
      <td>
        <a href="{{button.image}}">{{button.label}}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2 id="unknown">Secret Mystery Buttons</h2>
<em>if you know what year these are please tell us &lt;3</em>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Year/School</th>
      <th>Button</th>
    </tr>
  </thead>
  <tbody>
    {% for button in buttons.unknown %}
    <tr>
      <td>{{button.about}}</td>
      <!-- prettier-ignore -->
      <td>
        {% if button.image %}
          <a href="{{button.image}}">{{button.label}}</a>
        {% else %}
          {{button.label}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
