---
pagination:
  data: scripts.semesterCollections
  size: 1
  alias: semester
permalink: "{{semester.permalink}}"
eleventyComputed:
  title: "{{semester.title}}"
---

{% macro score(score) %}{% if score != null %} <small style="font-size: 2rem">({{score}})</small>{% endif %}{% endmacro %}
{% macro color(school) %}<span style="color: {{schoolColors[school | slugify].color}}">{{school}}</span>{% endmacro %}

{% set writers = collections[semester.collection][0].data.writers %}
{% if writers %}
<p class="h4">Scriptwriter{% if writers.length != 1 %}s{% endif %}: {{writers | listify}}</p>
{% endif %}

{% if collections[semester.collection].length > 1 %}
<nav style="margin-top: 1.5em; margin-bottom: 5em">
  <h2 class="h6 text-uppercase fw-bold">Table of Contents</h2>
  <ul>
  {% for script in collections[semester.collection] %}
    <li><a href="#{{script.fileSlug}}">{{script.data.title}}</a></li>
  {% endfor %}
  </ul>
</nav>
{% endif %}

{% for script in collections[semester.collection] %}
{% if loop.index0 %}<hr style="margin-bottom: 5em">{% endif %}
<article id="{{script.fileSlug}}" style="margin-bottom: 5em">
  <header style="text-align: center">
    <h1 class="display-5 fw-normal">
      {% if script.data.teams.home %}
        {{color(script.data.teams.away.name)}}{{score(script.data.teams.away.score)}} at
        {{color(script.data.teams.home.name)}}{{score(script.data.teams.home.score)}}
      {% elif script.data.opponent %}
        <# when we don't know home/away or scores #>
        {{color("Brown")}} <em>vs</em> {{color(script.data.opponent)}}
      {% else %}
        {{script.data.title}}
      {% endif %}
    </h1>
    <p class="h3">{{script.date | script_date }}</p>
  </header>
  {{script.templateContent | safe}}
</article>
{% endfor %}
