<a name="{{school.id}}"></a>
<table class="table table-sm">
  <thead>
    <tr>
      <th
        colspan="2"
        style="color: white; background-color: {{school.color}}; text-align: center"
      >
        {{school.name}}{{": " + school.mascot if school.mascot}}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for button in school.buttons %}
    <tr>
      <td>{{button.year}}</td>
      <td>
        {% if button.image %} <a href="{{button.image}}">{{button.label}}</a> {%
        else %} {{button.label}} {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
