<link rel="stylesheet" href="/assets/css/nav.css" />

{% macro active(destPage) %}{% if destPage.url == page.url %} active{% endif %}{% endmacro %}
{% macro dropdownActive(content) %}
  {%- for link in content -%}
    {{- active(link | find_page(collections.all)) -}}
  {% endfor %}
{% endmacro %}

<nav class="navbar navbar-expand-md navbar-dark bg-brown2">
  <div class="container">
    <div class="col-lg-2"></div>
    <div
      class="col-lg-8"
      style="
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
      "
    >
      <a
        class="navbar-brand me-lg-5"
        style="display: flex; align-items: center"
        href="/"
      >
        <img class="m-1 me-2" src="/assets/elrod.png" height="50" alt="" />
        <div style="display: inline-flex; flex-direction: column">
          <span style="font-weight: 500">{{site.title}}</span>
          <em class="header-quote">{{quote.random()}}</em>
        </div>
      </a>
      <ul class="navbar-nav bg-brown3">
        {% for dropdown in nav %}
          <li class="nav-item dropdown mx-1">
            <button
              class="nav-link{{dropdownActive(dropdown.content)}} dropdown-toggle bg-transparent border-0"
              style="outline: 0"
              id="dropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{-dropdown.title-}}
            </button>

            <ul
              class="dropdown-menu dropdown-menu-dark bg-brown4 rounded-3 lg-shadow-brown"
              aria-labelledby="dropdownMenuLink"
            >
              {% for link in dropdown.content %}
                {% if link.heading %}
                  <li><hr class="dropdown-divider" /></li>
                  <li><h6 class="dropdown-header">{{link.heading}}</h6></li>
                {% elif link.disabled %}
                  <li class="dropdown-item disabled">{{link.disabled}}</li>
                {% else %}
                  {% set navPage = link | find_page(collections.all) %}
                  <li>
                    <a
                      class="dropdown-item{{active(navPage)}}"
                      href="{{navPage.url}}"
                    >
                      {{navPage.data.title}}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
        <li class="nav-item mx-1">
          <a href="/contact/" class="nav-link{{active('/contact/')}}">
            Contact
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-2"></div>
  </div>
</nav>
