{% macro active(url) %}{% if url == page.url %} active{% endif %}{% endmacro %}
{% macro dropdownActive(content) %}{% for link in content
%}{{active(link.url)}}{% endfor %}{% endmacro %}

<nav class="navbar navbar-expand-md navbar-dark bg-brown2">
  <div class="container">
    <div class="col-lg-2"></div>
    <div
      class="col-lg-8"
      style="
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
      "
    >
      <a
        class="navbar-brand me-lg-5"
        style="display: flex; align-items: center"
        href="/"
      >
        <img class="m-1 me-2" src="/assets/elrod.png" height="50" />
        <div style="display: inline-flex; flex-direction: column">
          <span style="font-weight: 500">{{site.title}}</span>
          <em class="header-quote">{{quote.random()}}</em>
        </div>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {% for dropdown in nav %}
          <li class="nav-item dropdown mx-1">
            <button
              class="nav-link{{dropdownActive(dropdown.content)}} dropdown-toggle bg-transparent border-0"
              style="outline: 0"
              id="dropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{- dropdown.title -}}
            </button>

            <ul
              class="dropdown-menu dropdown-menu-dark bg-brown4 rounded-3 lg-shadow-brown"
              aria-labelledby="dropdownMenuLink"
            >
              {% for link in dropdown.content %}{% if link.heading %}
              <li><hr class="dropdown-divider" /></li>
              <li><h6 class="dropdown-header">{{link.heading}}</h6></li>
              {% else %}
              <li>
                <a
                  class="dropdown-item{{active(link.url)}}{% if link.disabled %} disabled{% endif %}"
                  href="{{link.url}}"
                >
                  {{- link.title -}}
                </a>
              </li>
              {% endif %}{% endfor %}
            </ul>
          </li>
          {% endfor %}
          <li class="nav-item">
            <a href="/contact" class="nav-link{{active('/contact/')}}"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</nav>
