<table class="table">
  {{#each this}}
    {{#each people}}
      <tr>
        <th class="people-table-head">
          {{! blank line to allow name to be formatted using Markdown }}

          {{#if @first}}{{../name}}{{/if}}
        </th>
        <td><a href="mailto:{{email}}">{{name}}</a> '{{year}}</td>
      </tr>
    {{/each}}
  {{/each}}
</table>
