<table class="table">
  {{#each this}}
    {{#each people}}
      <tr>
        {{! this funny formatting is needed to stop Markdown from seeing the HTML as an indented code block}}
        {{! prettier-ignore }}
        <th class="people-table-head">

{{#if @first}}{{{../name}}}{{/if}}

  </th>
        <td><a href="mailto:{{email}}">{{name}}</a> '{{year}}</td>
      </tr>
    {{/each}}
  {{/each}}
</table>
