<link rel="stylesheet" href="/assets/css/toc.css" />

{% macro makeToc(headers) %}
  <ul>
    {% for header in headers %}
      <li>
        <a href="#{{header.id}}">{{header.value}}</a>
        {% if header.children %}{{makeToc(header.children)}}{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

<section class="toc">
  <div>
    <h2 class="d-none d-lg-block" style="font-size: 1.1em">
      <span class="px-1 bg-body position-relative rounded-pill">Contents</span>
    </h2>
    <nav id="tocNav" class="collapse d-lg-block">{{ makeToc(toc) }}</nav>
  </div>
</section>
