<link rel="stylesheet" href="/assets/css/toc.css" />

{{#*inline "makeToc"}}
  <ul>
    {{#each this}}
      <li>
        <a href="#{{id}}">{{value}}</a>
        {{#if children}}{{> makeToc children}}{{/if}}
      </li>
    {{/each}}
  </ul>
{{/inline}}

<section class="toc">
  <div>
    <h2 class="d-none d-lg-block" style="font-size: 1.1em">
      <span class="px-1 bg-body position-relative rounded-pill">Contents</span>
    </h2>
    <nav id="tocNav" class="collapse d-lg-block">
      {{#with this as |children|}}{{> makeToc}}{{/with}}
    </nav>
  </div>
</section>
