<link rel="stylesheet" href="/assets/css/toc.css" />

{% macro tocHeader(header) %}
<li>
  <a href="#{{header.id}}">{{header.value}}</a>
  {% if header.children %}
  <ul>
    {% for child in header.children %} {{ tocHeader(child) if child.id }} {% endfor %}
  </ul>
  {% endif %}
</li>
{% endmacro %}

<section class="toc">
  <div>
    <h2 style="font-size: 1.1em">Contents</h2>
    <nav class="border-top">
      <ul>
        {% for header in toc %} {{ tocHeader(header) if header.id }} {% endfor %}
      </ul>
    </nav>
  </div>
</section>
